body {
    font-family: "Montserrat", sans-serif;
    background: #fff;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

h1,
h2,
h3,
p {
    margin: 0;
    padding: 0;
}

img {
    display: block;
    max-width: 100%;
}


.container {
    max-width: 1170px;
    margin: 0 auto;
}


.section {

}






.section-hero {
    background-image: url(../images/Gus1.png),linear-gradient(90deg, #fcfefe 0%, #a5deff 99.99%, #737373 100%);
    background-repeat: no-repeat;
    padding: 120px 0;
    background-position: bottom right;
}



.logo {
    position: absolute;
    top: 32px;
}

.hero-hello-container {
    border-radius: 40px;
    max-width: 573px;
    margin: 0 auto;
    background: #fff;
    display: flex;
    flex-direction: column;
    padding: 60px;
    margin-left: 0;
}

.hello-subtittle {
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
    color: #1b1d1f;
    margin-bottom: 60px;

}

.hello-tittle {
    font-weight: 600;
    font-size: 64px;
    line-height: 1.125;
    color: #1b1d1f;
    margin-bottom: 24px;

}

.hello-descr {
    font-size: 16px;
    line-height: 1.5;
    color: #1b1d1f;
    margin-bottom: 32px;

}

.hello-btn {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: #fff;
    border-radius: 8px;
    padding: 12px 24px;
    background: #ff6b0a;
    border: none;
    width: 172px;
    height: 48px;
    cursor: pointer;
}








/* ------------------------------------------------------------- */



.section-facts {
    padding-top: 48px;
    padding-bottom: 100px;
}

.facts-trezub {
    display: block;
    margin: 0 auto 32px;
}

.facts-tittle {
    text-align: center;
    font-weight: 600;
    font-size: 48px;
    line-height: 1.5;
    color: #1b1d1f;
    margin-bottom: 32px;
}

.facts-descr {
    margin: 0 auto 24px;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    color: #1b1d1f;
    width: 772px;

}

.facts-list {
    display: flex;
    gap: 25px;
}

.facts-item {
    width: calc((100% - 25px * 2) / 3);
}

.facts-item-img {
    margin-bottom: 8px;
}

.facts-item-subtitle {
    font-weight: 600;
    font-size: 24px;
    line-height: 1;
    text-align: center;
    color: #1b1d1f;
    margin-bottom: 32px;
}

.facts-item-descr {
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    color: #1b1d1f;
}




/* ------------------------------------------------------------- */




.section-form {
    padding-top: 80px;
    padding-bottom: 80px;
    background: linear-gradient(90deg, #fcfefe 0%, #a5deff 99.99%, #737373 100%);
}


.container-form {
    background: #fff;
    margin: 0 auto;
    border-radius: 40px;
    width: 573px;
    padding: 32px 60px 60px 60px;
}

.facts-trezub {
    margin-bottom: 32px;
}

.form-tittle {
    font-weight: 600;
    font-size: 24px;
    line-height: 1;
    text-align: center;
    color: #1b1d1f;
    margin-bottom: 12px;
}

.form-descr {
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    color: #1b1d1f;
    margin-bottom: 14px;
}

.form {
    display: flex;
    flex-direction: column;

}

.form-label {
    font-size: 16px;
    line-height: 1.5;
    color: #1b1d1f;
    margin-bottom: 10px;

}

.form-input {
    border: 1px solid #005bbb;
    border-radius: 8px;
    height: 60px;
    outline: none;
    margin-bottom: 14px;
}

.form-btn {
    margin: 48px auto 0;
    font-size: 16px;
    line-height: 1.5;
    color: #fff;
    border-radius: 8px;
    width: 172px;
    height: 48px;
    background: #ff6b0a;
    border: none;
    cursor: pointer;
}